:root {
    --mud-typography-default-family: 'Inter', 'Montserrat', sans-serif;
    --mud-typography-default-size: 0.95rem;
    --mud-typography-default-lineheight: 1.6;
    --mud-typography-h5-weight: 800;
    --mud-typography-h5-letterspacing: 1px;
}

/* ::deep asegura que el estilo llegue al componente aunque esté anidado */
::deep .av-logo-text {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    letter-spacing: 2px;
    color: #2D3436;
    text-transform: uppercase;
}

::deep .nav-link-av {
    font-family: 'Inter', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-size: 0.8rem;
    font-weight: 600;
    color: #636E72 !important;
    padding: 0 20px;
}

::deep .nav-link-ada:hover {
    color: #74B816 !important;
    background-color: transparent !important;
}
