:root {
    /* Fondos y Estructura */
    --av-bg-pure: #FFFFFF;
    --av-bg-soft: #F9FBF9;
    --av-border: #F1F2F6;
    /* Principal */
    --av-primary: #74B816;
    --av-primary-light: #E8F5E9;
    --av-primary-deep: #2D5A27;
    --av-text-main: #2D3436;
    --av-text-muted: #636E72;
    /* Semántica */
    --av-success: #26b050;
    --av-error: #e50000;
    --av-warning: #f5a623;
    /* Tipografía */
    --av-font-body: 'Inter', sans-serif;
    /* Efectos y Formas  */
    --av-shadow-premium: 0 10px 30px rgba(0, 0, 0, 0.03);
    --av-transition-smooth: all 0.4s cubic-bezier(0.25, 1, 0.5, 1);
    --av-radius-sm: 8px;
    --av-radius-lg: 16px;
}

/* Oculta temporalmente la aplicación hasta que el CSS esté cargado */
body {
    opacity: 0;
    animation: fadeIn 0.3s ease-in forwards;
    animation-delay: 0.1s; 
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}