:root {
    /* Fondos y Estructura */
    --av-bg-pure: #FFFFFF;
    --av-bg-soft: #F9FBF9;
    --av-border: #F1F2F6;

    /* Principal */
    --av-primary: #74B816;
    --av-text-main: #2D3436;
    --av-text-muted: #636E72;

    /* Tipografía */
    --av-font-body: 'Inter', sans-serif;
    /* Efectos y Formas  */
    --av-radius-sm: 8px;
}

.av-dark-theme {
    --av-bg-pure: #121212;
    --av-bg-soft: #1E1E1E;
    --av-border: #2D3436;

    --av-text-main: #F9FBF9;
    --av-text-muted: #A0AAB2;

    --av-shadow-premium: 0 10px 30px rgba(0, 0, 0, 0.5);

    --av-primary-light: #1A2E19;
}

/* Oculta la estructura rota cuando se cambia entre Servidor y WebAssembly */
.mud-layout {
    animation: pageFadeIn 0.25s ease-out forwards;
}

@keyframes pageFadeIn {
    0% {
        opacity: 0;
    }

    70% {
        opacity: 0;
    }
    /* Mantiene la web invisible mientras el HTML está roto */
    100% {
        opacity: 1;
    }
}