USE [AquaVivariumDB]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 30/05/2026 17:19:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AcuarioEspecies]    Script Date: 30/05/2026 17:19:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AcuarioEspecies](
	[AcuarioId] [int] NOT NULL,
	[EspecieId] [int] NOT NULL,
	[Cantidad] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[AcuarioId] ASC,
	[EspecieId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Acuarios]    Script Date: 30/05/2026 17:19:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Acuarios](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UsuarioId] [nvarchar](450) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[Litros] [int] NOT NULL,
	[PhActual] [decimal](4, 2) NULL,
	[TempActual] [int] NULL,
	[LargoCm] [int] NULL,
	[AltoCm] [int] NULL,
	[AnchoCm] [int] NULL,
	[FlujoAgua] [nvarchar](50) NULL,
	[GhActual] [int] NULL,
	[NivelIluminacion] [nvarchar](20) NULL,
	[TieneCo2] [bit] NULL,
	[TipoSustrato] [nvarchar](50) NULL,
	[UltimoAnalisisIA] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoleClaims]    Script Date: 30/05/2026 17:19:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoleClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 30/05/2026 17:19:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](256) NULL,
	[NormalizedName] [nvarchar](256) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 30/05/2026 17:19:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](450) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 30/05/2026 17:19:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](450) NOT NULL,
	[ProviderKey] [nvarchar](450) NOT NULL,
	[ProviderDisplayName] [nvarchar](max) NULL,
	[UserId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserPasskeys]    Script Date: 30/05/2026 17:19:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserPasskeys](
	[Id] [nvarchar](450) NOT NULL,
	[UserId] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[CredentialId] [varbinary](max) NOT NULL,
	[PublicKey] [varbinary](max) NOT NULL,
	[SignatureCount] [int] NOT NULL,
	[AuthenticatorTransport] [nvarchar](max) NULL,
	[Data] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 30/05/2026 17:19:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](450) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 30/05/2026 17:19:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](450) NOT NULL,
	[UserName] [nvarchar](256) NULL,
	[NormalizedUserName] [nvarchar](256) NULL,
	[Email] [nvarchar](256) NULL,
	[NormalizedEmail] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEnd] [datetimeoffset](7) NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[Alias] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserTokens]    Script Date: 30/05/2026 17:19:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserTokens](
	[UserId] [nvarchar](450) NOT NULL,
	[LoginProvider] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](450) NOT NULL,
	[Value] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserTokens] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[LoginProvider] ASC,
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CategoriasGuia]    Script Date: 30/05/2026 17:19:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CategoriasGuia](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
	[DescripcionBreve] [nvarchar](200) NULL,
	[ImagenPortadaUrl] [nvarchar](255) NULL,
	[Activo] [bit] NOT NULL,
 CONSTRAINT [PK_CategoriasGuia] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EspecieConsultas]    Script Date: 30/05/2026 17:19:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EspecieConsultas](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EspecieId] [int] NOT NULL,
	[UsuarioId] [nvarchar](450) NOT NULL,
	[Titulo] [nvarchar](150) NULL,
	[Cuerpo] [nvarchar](max) NOT NULL,
	[FechaPublicacion] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EspecieImagenes]    Script Date: 30/05/2026 17:19:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EspecieImagenes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EspecieId] [int] NOT NULL,
	[Url] [nvarchar](255) NOT NULL,
	[AltText] [nvarchar](100) NULL,
	[DerechosAutor] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EspecieRespuestas]    Script Date: 30/05/2026 17:19:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EspecieRespuestas](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ConsultaId] [int] NOT NULL,
	[UsuarioId] [nvarchar](450) NOT NULL,
	[Cuerpo] [nvarchar](max) NOT NULL,
	[FechaPublicacion] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Especies]    Script Date: 30/05/2026 17:19:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Especies](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[NombreCientifico] [nvarchar](100) NULL,
	[Descripcion] [nvarchar](max) NULL,
	[PhMin] [decimal](4, 2) NULL,
	[PhMax] [decimal](4, 2) NULL,
	[TempMin] [int] NULL,
	[TempMax] [int] NULL,
	[GhMin] [int] NULL,
	[GhMax] [int] NULL,
	[Dificultad] [nvarchar](20) NULL,
	[TipoEspecie] [nvarchar](50) NULL,
	[Familia] [nvarchar](100) NULL,
	[Genero] [nvarchar](100) NULL,
	[Origen] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Guias]    Script Date: 30/05/2026 17:19:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Guias](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CategoriaGuiaId] [int] NOT NULL,
	[Titulo] [nvarchar](100) NOT NULL,
	[ContenidoHtml] [nvarchar](max) NULL,
	[FechaPublicacion] [datetime2](7) NOT NULL,
	[Activo] [bit] NOT NULL,
	[ImagenPortadaUrl] [nvarchar](255) NULL,
 CONSTRAINT [PK_Guias] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ImagenesGuia]    Script Date: 30/05/2026 17:19:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ImagenesGuia](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[GuiaId] [int] NOT NULL,
	[Url] [nvarchar](255) NOT NULL,
	[AltText] [nvarchar](100) NULL,
 CONSTRAINT [PK_ImagenesGuia] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Peces]    Script Date: 30/05/2026 17:19:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Peces](
	[EspecieId] [int] NOT NULL,
	[TamanoMaxCm] [int] NULL,
	[Temperamento] [nvarchar](50) NULL,
	[ZonaNado] [nvarchar](50) NULL,
	[Gregarismo] [int] NULL,
	[Alimentacion] [nvarchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[EspecieId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Plantas]    Script Date: 30/05/2026 17:19:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Plantas](
	[EspecieId] [int] NOT NULL,
	[Iluminacion] [nvarchar](20) NULL,
	[NecesitaCo2] [bit] NULL,
	[Altura] [nvarchar](50) NULL,
	[Crecimiento] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[EspecieId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260401150442_InitialCreate', N'10.0.5')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260402153430_AñadirCampoCrecimientoPlanta', N'10.0.5')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260402154220_NuevoCampoDerechosAutorImagenes', N'10.0.5')
GO
INSERT [dbo].[AcuarioEspecies] ([AcuarioId], [EspecieId], [Cantidad]) VALUES (2, 7, 4)
GO
SET IDENTITY_INSERT [dbo].[Acuarios] ON 

INSERT [dbo].[Acuarios] ([Id], [UsuarioId], [Nombre], [Litros], [PhActual], [TempActual], [LargoCm], [AltoCm], [AnchoCm], [FlujoAgua], [GhActual], [NivelIluminacion], [TieneCo2], [TipoSustrato], [UltimoAnalisisIA]) VALUES (2, N'e167055e-ac21-469c-b671-cc62902e57db', N'Mi acuarioddfsd', 80, CAST(6.20 AS Decimal(4, 2)), 22, NULL, NULL, NULL, NULL, 6, NULL, NULL, N'Grava', NULL)
INSERT [dbo].[Acuarios] ([Id], [UsuarioId], [Nombre], [Litros], [PhActual], [TempActual], [LargoCm], [AltoCm], [AnchoCm], [FlujoAgua], [GhActual], [NivelIluminacion], [TieneCo2], [TipoSustrato], [UltimoAnalisisIA]) VALUES (6, N'e167055e-ac21-469c-b671-cc62902e57db', N'Nuevo Acuario', 6012, CAST(7.00 AS Decimal(4, 2)), 25, 123, 1233, 123, N'Fuerte', 10, N'Alta', NULL, N'Nutritivo', NULL)
SET IDENTITY_INSERT [dbo].[Acuarios] OFF
GO
INSERT [dbo].[AspNetRoles] ([Id], [Name], [NormalizedName], [ConcurrencyStamp]) VALUES (N'fcd28714-bae5-40c4-9d4b-800a93701167', N'Admin', N'ADMIN', N'b620c49f-9b26-4eac-83aa-7556e9956ff2')
GO
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'e167055e-ac21-469c-b671-cc62902e57db', N'fcd28714-bae5-40c4-9d4b-800a93701167')
GO
INSERT [dbo].[AspNetUserTokens] ([UserId], [LoginProvider], [Name], [Value]) VALUES (N'e167055e-ac21-469c-b671-cc62902e57db', N'[AspNetUserStore]', N'AuthenticatorKey', N'B4HWJRENUJIEKFMWKDV2VQMXJUIXD43P')
GO
SET IDENTITY_INSERT [dbo].[CategoriasGuia] ON 

INSERT [dbo].[CategoriasGuia] ([Id], [Nombre], [DescripcionBreve], [ImagenPortadaUrl], [Activo]) VALUES (10, N'Mantenimiento de acuario', N'Como mantener tu acuario correctamente', NULL, 1)
SET IDENTITY_INSERT [dbo].[CategoriasGuia] OFF
GO
SET IDENTITY_INSERT [dbo].[EspecieConsultas] ON 

INSERT [dbo].[EspecieConsultas] ([Id], [EspecieId], [UsuarioId], [Titulo], [Cuerpo], [FechaPublicacion]) VALUES (1, 2, N'e167055e-ac21-469c-b671-cc62902e57db', NULL, N'Esto es una pregunta sobre la especie', CAST(N'2026-04-08T22:30:41.900' AS DateTime))
INSERT [dbo].[EspecieConsultas] ([Id], [EspecieId], [UsuarioId], [Titulo], [Cuerpo], [FechaPublicacion]) VALUES (3, 7, N'e167055e-ac21-469c-b671-cc62902e57db', NULL, N'Esto es una pregunta de prueba', CAST(N'2026-04-09T22:16:57.650' AS DateTime))
INSERT [dbo].[EspecieConsultas] ([Id], [EspecieId], [UsuarioId], [Titulo], [Cuerpo], [FechaPublicacion]) VALUES (4, 14, N'e167055e-ac21-469c-b671-cc62902e57db', NULL, N'Esto es una pregunta de prueba', CAST(N'2026-04-09T22:22:05.423' AS DateTime))
SET IDENTITY_INSERT [dbo].[EspecieConsultas] OFF
GO
SET IDENTITY_INSERT [dbo].[EspecieImagenes] ON 

INSERT [dbo].[EspecieImagenes] ([Id], [EspecieId], [Url], [AltText], [DerechosAutor]) VALUES (326, 126, N'/images/imagenesEspecie/126/principal.webp', N'Imagen representativa de la especie Melanochromis auratus', N'Imagen obtenida de /www.aquasabi.com')
INSERT [dbo].[EspecieImagenes] ([Id], [EspecieId], [Url], [AltText], [DerechosAutor]) VALUES (328, 127, N'/images/imagenesEspecie/127/principal.webp', N'Imagen representativa de la especie Cleithracara maronii', N'Imagen obtenida de /www.aquasabi.com')
INSERT [dbo].[EspecieImagenes] ([Id], [EspecieId], [Url], [AltText], [DerechosAutor]) VALUES (330, 130, N'/images/imagenesEspecie/130/principal.webp', N'Imagen representativa de la especie Uaru amphiacanthoides', N'Imagen obtenida de /www.aquasabi.com')
GO
SET IDENTITY_INSERT [dbo].[EspecieImagenes] OFF
GO
SET IDENTITY_INSERT [dbo].[EspecieRespuestas] ON 

INSERT [dbo].[EspecieRespuestas] ([Id], [ConsultaId], [UsuarioId], [Cuerpo], [FechaPublicacion]) VALUES (1, 1, N'e167055e-ac21-469c-b671-cc62902e57db', N'te respondo', CAST(N'2026-04-08T22:30:53.917' AS DateTime))
INSERT [dbo].[EspecieRespuestas] ([Id], [ConsultaId], [UsuarioId], [Cuerpo], [FechaPublicacion]) VALUES (3, 3, N'e167055e-ac21-469c-b671-cc62902e57db', N'esto es una respuesta', CAST(N'2026-04-09T22:17:09.087' AS DateTime))
INSERT [dbo].[EspecieRespuestas] ([Id], [ConsultaId], [UsuarioId], [Cuerpo], [FechaPublicacion]) VALUES (4, 3, N'e167055e-ac21-469c-b671-cc62902e57db', N'asdas', CAST(N'2026-04-09T22:17:14.090' AS DateTime))
SET IDENTITY_INSERT [dbo].[EspecieRespuestas] OFF
GO
SET IDENTITY_INSERT [dbo].[Especies] ON 

GO
SET IDENTITY_INSERT [dbo].[Especies] OFF
GO
SET IDENTITY_INSERT [dbo].[Guias] ON 

SET IDENTITY_INSERT [dbo].[Guias] OFF
GO
INSERT [dbo].[Peces] ([EspecieId], [TamanoMaxCm], [Temperamento], [ZonaNado], [Gregarismo], [Alimentacion]) VALUES (1, 4, N'Pacífico', N'Media', 10, N'Omnívoro')
INSERT [dbo].[Peces] ([EspecieId], [TamanoMaxCm], [Temperamento], [ZonaNado], [Gregarismo], [Alimentacion]) VALUES (2, 5, N'Pacífico', N'Media', 12, N'Omnívoro')
INSERT [dbo].[Peces] ([EspecieId], [TamanoMaxCm], [Temperamento], [ZonaNado], [Gregarismo], [Alimentacion]) VALUES (3, 7, N'Agresivo (Machos)', N'Superficie', 1, N'Carnívoro')
GO
INSERT [dbo].[Plantas] ([EspecieId], [Iluminacion], [NecesitaCo2], [Altura], [Crecimiento]) VALUES (480, N'Media', 1, N'1-3 cm', N'Medio')
INSERT [dbo].[Plantas] ([EspecieId], [Iluminacion], [NecesitaCo2], [Altura], [Crecimiento]) VALUES (481, N'Media', 1, N'15-60 cm', N'Rápido')
INSERT [dbo].[Plantas] ([EspecieId], [Iluminacion], [NecesitaCo2], [Altura], [Crecimiento]) VALUES (482, N'Media', 0, N'1-10 cm', N'Medio')
GO
ALTER TABLE [dbo].[AcuarioEspecies] ADD  DEFAULT ((1)) FOR [Cantidad]
GO
ALTER TABLE [dbo].[AspNetUsers] ADD  DEFAULT ((0)) FOR [PhoneNumberConfirmed]
GO
ALTER TABLE [dbo].[EspecieConsultas] ADD  DEFAULT (getdate()) FOR [FechaPublicacion]
GO
ALTER TABLE [dbo].[EspecieRespuestas] ADD  DEFAULT (getdate()) FOR [FechaPublicacion]
GO
ALTER TABLE [dbo].[Plantas] ADD  DEFAULT ((0)) FOR [NecesitaCo2]
GO
ALTER TABLE [dbo].[AcuarioEspecies]  WITH CHECK ADD  CONSTRAINT [FK_Acuario_Rel] FOREIGN KEY([AcuarioId])
REFERENCES [dbo].[Acuarios] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AcuarioEspecies] CHECK CONSTRAINT [FK_Acuario_Rel]
GO
ALTER TABLE [dbo].[AcuarioEspecies]  WITH CHECK ADD  CONSTRAINT [FK_Especie_Rel] FOREIGN KEY([EspecieId])
REFERENCES [dbo].[Especies] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AcuarioEspecies] CHECK CONSTRAINT [FK_Especie_Rel]
GO
ALTER TABLE [dbo].[Acuarios]  WITH CHECK ADD  CONSTRAINT [FK_Acuario_Usuario] FOREIGN KEY([UsuarioId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Acuarios] CHECK CONSTRAINT [FK_Acuario_Usuario]
GO
ALTER TABLE [dbo].[Acuarios]  WITH CHECK ADD  CONSTRAINT [FK_Acuarios_AspNetUsers_UsuarioId] FOREIGN KEY([UsuarioId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[Acuarios] CHECK CONSTRAINT [FK_Acuarios_AspNetUsers_UsuarioId]
GO
ALTER TABLE [dbo].[AspNetRoleClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetRoleClaims] CHECK CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserPasskeys]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserPasskeys_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserPasskeys] CHECK CONSTRAINT [FK_AspNetUserPasskeys_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_UserRoles_Roles] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_UserRoles_Roles]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_UserRoles_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_UserRoles_Users]
GO
ALTER TABLE [dbo].[AspNetUserTokens]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserTokens] CHECK CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[EspecieConsultas]  WITH CHECK ADD  CONSTRAINT [FK_Consultas_Especies] FOREIGN KEY([EspecieId])
REFERENCES [dbo].[Especies] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[EspecieConsultas] CHECK CONSTRAINT [FK_Consultas_Especies]
GO
ALTER TABLE [dbo].[EspecieConsultas]  WITH CHECK ADD  CONSTRAINT [FK_Consultas_Usuario] FOREIGN KEY([UsuarioId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[EspecieConsultas] CHECK CONSTRAINT [FK_Consultas_Usuario]
GO
ALTER TABLE [dbo].[EspecieImagenes]  WITH CHECK ADD  CONSTRAINT [FK_Imagenes_Especies] FOREIGN KEY([EspecieId])
REFERENCES [dbo].[Especies] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[EspecieImagenes] CHECK CONSTRAINT [FK_Imagenes_Especies]
GO
ALTER TABLE [dbo].[EspecieRespuestas]  WITH CHECK ADD  CONSTRAINT [FK_Respuestas_Consultas] FOREIGN KEY([ConsultaId])
REFERENCES [dbo].[EspecieConsultas] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[EspecieRespuestas] CHECK CONSTRAINT [FK_Respuestas_Consultas]
GO
ALTER TABLE [dbo].[EspecieRespuestas]  WITH CHECK ADD  CONSTRAINT [FK_Respuestas_Usuario] FOREIGN KEY([UsuarioId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[EspecieRespuestas] CHECK CONSTRAINT [FK_Respuestas_Usuario]
GO
ALTER TABLE [dbo].[Guias]  WITH CHECK ADD  CONSTRAINT [FK_Guias_CategoriasGuia_CategoriaGuiaId] FOREIGN KEY([CategoriaGuiaId])
REFERENCES [dbo].[CategoriasGuia] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Guias] CHECK CONSTRAINT [FK_Guias_CategoriasGuia_CategoriaGuiaId]
GO
ALTER TABLE [dbo].[ImagenesGuia]  WITH CHECK ADD  CONSTRAINT [FK_ImagenesGuia_Guias_GuiaId] FOREIGN KEY([GuiaId])
REFERENCES [dbo].[Guias] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ImagenesGuia] CHECK CONSTRAINT [FK_ImagenesGuia_Guias_GuiaId]
GO
ALTER TABLE [dbo].[Peces]  WITH CHECK ADD  CONSTRAINT [FK_Peces_Especies] FOREIGN KEY([EspecieId])
REFERENCES [dbo].[Especies] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Peces] CHECK CONSTRAINT [FK_Peces_Especies]
GO
ALTER TABLE [dbo].[Plantas]  WITH CHECK ADD  CONSTRAINT [FK_Plantas_Especies] FOREIGN KEY([EspecieId])
REFERENCES [dbo].[Especies] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Plantas] CHECK CONSTRAINT [FK_Plantas_Especies]
GO
