USE [AquaVivariurmDB]
GO
/****** Object:  Table [dbo].[AcuarioEspecies]    Script Date: 29/03/2026 20:23:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AcuarioEspecies](
	[AcuarioId] [int] NOT NULL,
	[EspecieId] [int] NOT NULL,
	[Cantidad] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[AcuarioId] ASC,
	[EspecieId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Acuarios]    Script Date: 29/03/2026 20:23:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Acuarios](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UsuarioId] [nvarchar](450) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[Litros] [int] NOT NULL,
	[PhActual] [decimal](4, 2) NULL,
	[TempActual] [int] NULL,
	[EstiloId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoleClaims]    Script Date: 29/03/2026 20:23:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoleClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 29/03/2026 20:23:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](256) NULL,
	[NormalizedName] [nvarchar](256) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 29/03/2026 20:23:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](450) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 29/03/2026 20:23:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](450) NOT NULL,
	[ProviderKey] [nvarchar](450) NOT NULL,
	[ProviderDisplayName] [nvarchar](max) NULL,
	[UserId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserPasskeys]    Script Date: 29/03/2026 20:23:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserPasskeys](
	[Id] [nvarchar](450) NOT NULL,
	[UserId] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[CredentialId] [varbinary](max) NOT NULL,
	[PublicKey] [varbinary](max) NOT NULL,
	[SignatureCount] [int] NOT NULL,
	[AuthenticatorTransport] [nvarchar](max) NULL,
	[Data] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 29/03/2026 20:23:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](450) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 29/03/2026 20:23:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](450) NOT NULL,
	[UserName] [nvarchar](256) NULL,
	[NormalizedUserName] [nvarchar](256) NULL,
	[Email] [nvarchar](256) NULL,
	[NormalizedEmail] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEnd] [datetimeoffset](7) NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserTokens]    Script Date: 29/03/2026 20:23:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserTokens](
	[UserId] [nvarchar](450) NOT NULL,
	[LoginProvider] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](450) NOT NULL,
	[Value] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserTokens] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[LoginProvider] ASC,
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EspecieConsultas]    Script Date: 29/03/2026 20:23:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EspecieConsultas](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EspecieId] [int] NOT NULL,
	[UsuarioId] [nvarchar](450) NOT NULL,
	[Titulo] [nvarchar](150) NULL,
	[Cuerpo] [nvarchar](max) NOT NULL,
	[FechaPublicacion] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EspecieImagenes]    Script Date: 29/03/2026 20:23:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EspecieImagenes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EspecieId] [int] NOT NULL,
	[Url] [nvarchar](255) NOT NULL,
	[AltText] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EspecieRespuestas]    Script Date: 29/03/2026 20:23:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EspecieRespuestas](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ConsultaId] [int] NOT NULL,
	[UsuarioId] [nvarchar](450) NOT NULL,
	[Cuerpo] [nvarchar](max) NOT NULL,
	[FechaPublicacion] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Especies]    Script Date: 29/03/2026 20:23:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Especies](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[NombreCientifico] [nvarchar](100) NULL,
	[Descripcion] [nvarchar](max) NULL,
	[PhMin] [decimal](4, 2) NULL,
	[PhMax] [decimal](4, 2) NULL,
	[TempMin] [int] NULL,
	[TempMax] [int] NULL,
	[GhMin] [int] NULL,
	[GhMax] [int] NULL,
	[Dificultad] [nvarchar](20) NULL,
	[TipoEspecie] [nvarchar](50) NULL,
	[Familia] [nvarchar](100) NULL,
	[Genero] [nvarchar](100) NULL,
	[Origen] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EstilosAquascaping]    Script Date: 29/03/2026 20:23:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EstilosAquascaping](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
	[Descripcion] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EstilosAquascapingImagenes]    Script Date: 29/03/2026 20:23:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EstilosAquascapingImagenes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EstiloId] [int] NOT NULL,
	[Url] [nvarchar](255) NOT NULL,
	[AltText] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Peces]    Script Date: 29/03/2026 20:23:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Peces](
	[EspecieId] [int] NOT NULL,
	[TamanoMaxCm] [int] NULL,
	[Temperamento] [nvarchar](50) NULL,
	[ZonaNado] [nvarchar](50) NULL,
	[Gregarismo] [int] NULL,
	[Alimentacion] [nvarchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[EspecieId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Plantas]    Script Date: 29/03/2026 20:23:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Plantas](
	[EspecieId] [int] NOT NULL,
	[Iluminacion] [nvarchar](20) NULL,
	[NecesitaCo2] [bit] NULL,
	[PlanoAcuario] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[EspecieId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[EspecieImagenes] ON 

INSERT [dbo].[EspecieImagenes] ([Id], [EspecieId], [Url], [AltText]) VALUES (244, 91, N'/imagenes/imagenesEspecie/91/principal.webp', N'Imagen representativa de la especie Sawbwa resplendens')
INSERT [dbo].[EspecieImagenes] ([Id], [EspecieId], [Url], [AltText]) VALUES (245, 91, N'/imagenes/imagenesEspecie/91/foto_1.webp', N'Galería fotográfica de Sawbwa resplendens - Imagen 1')
INSERT [dbo].[EspecieImagenes] ([Id], [EspecieId], [Url], [AltText]) VALUES (246, 92, N'/imagenes/imagenesEspecie/92/principal.webp', N'Imagen representativa de la especie Danio kyathit')
GO
SET IDENTITY_INSERT [dbo].[EspecieImagenes] OFF
GO
SET IDENTITY_INSERT [dbo].[Especies] ON 

GO
SET IDENTITY_INSERT [dbo].[Especies] OFF
GO
INSERT [dbo].[Peces] ([EspecieId], [TamanoMaxCm], [Temperamento], [ZonaNado], [Gregarismo], [Alimentacion]) VALUES (1, 4, N'Pacífico', N'Media', 10, N'Omnívoro')
INSERT [dbo].[Peces] ([EspecieId], [TamanoMaxCm], [Temperamento], [ZonaNado], [Gregarismo], [Alimentacion]) VALUES (2, 5, N'Pacífico', N'Media', 12, N'Omnívoro')
INSERT [dbo].[Peces] ([EspecieId], [TamanoMaxCm], [Temperamento], [ZonaNado], [Gregarismo], [Alimentacion]) VALUES (3, 7, N'Agresivo (Machos)', N'Superficie', 1, N'Carnívoro')
GO
ALTER TABLE [dbo].[AcuarioEspecies] ADD  DEFAULT ((1)) FOR [Cantidad]
GO
ALTER TABLE [dbo].[AspNetUsers] ADD  DEFAULT ((0)) FOR [PhoneNumberConfirmed]
GO
ALTER TABLE [dbo].[EspecieConsultas] ADD  DEFAULT (getdate()) FOR [FechaPublicacion]
GO
ALTER TABLE [dbo].[EspecieRespuestas] ADD  DEFAULT (getdate()) FOR [FechaPublicacion]
GO
ALTER TABLE [dbo].[Plantas] ADD  DEFAULT ((0)) FOR [NecesitaCo2]
GO
ALTER TABLE [dbo].[AcuarioEspecies]  WITH CHECK ADD  CONSTRAINT [FK_Acuario_Rel] FOREIGN KEY([AcuarioId])
REFERENCES [dbo].[Acuarios] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AcuarioEspecies] CHECK CONSTRAINT [FK_Acuario_Rel]
GO
ALTER TABLE [dbo].[AcuarioEspecies]  WITH CHECK ADD  CONSTRAINT [FK_Especie_Rel] FOREIGN KEY([EspecieId])
REFERENCES [dbo].[Especies] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AcuarioEspecies] CHECK CONSTRAINT [FK_Especie_Rel]
GO
ALTER TABLE [dbo].[Acuarios]  WITH CHECK ADD  CONSTRAINT [FK_Acuario_Estilo] FOREIGN KEY([EstiloId])
REFERENCES [dbo].[EstilosAquascaping] ([Id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Acuarios] CHECK CONSTRAINT [FK_Acuario_Estilo]
GO
ALTER TABLE [dbo].[Acuarios]  WITH CHECK ADD  CONSTRAINT [FK_Acuario_Usuario] FOREIGN KEY([UsuarioId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Acuarios] CHECK CONSTRAINT [FK_Acuario_Usuario]
GO
ALTER TABLE [dbo].[AspNetRoleClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetRoleClaims] CHECK CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserPasskeys]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserPasskeys_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserPasskeys] CHECK CONSTRAINT [FK_AspNetUserPasskeys_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_UserRoles_Roles] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_UserRoles_Roles]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_UserRoles_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_UserRoles_Users]
GO
ALTER TABLE [dbo].[AspNetUserTokens]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserTokens] CHECK CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[EspecieConsultas]  WITH CHECK ADD  CONSTRAINT [FK_Consultas_Especies] FOREIGN KEY([EspecieId])
REFERENCES [dbo].[Especies] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[EspecieConsultas] CHECK CONSTRAINT [FK_Consultas_Especies]
GO
ALTER TABLE [dbo].[EspecieConsultas]  WITH CHECK ADD  CONSTRAINT [FK_Consultas_Usuario] FOREIGN KEY([UsuarioId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[EspecieConsultas] CHECK CONSTRAINT [FK_Consultas_Usuario]
GO
ALTER TABLE [dbo].[EspecieImagenes]  WITH CHECK ADD  CONSTRAINT [FK_Imagenes_Especies] FOREIGN KEY([EspecieId])
REFERENCES [dbo].[Especies] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[EspecieImagenes] CHECK CONSTRAINT [FK_Imagenes_Especies]
GO
ALTER TABLE [dbo].[EspecieRespuestas]  WITH CHECK ADD  CONSTRAINT [FK_Respuestas_Consultas] FOREIGN KEY([ConsultaId])
REFERENCES [dbo].[EspecieConsultas] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[EspecieRespuestas] CHECK CONSTRAINT [FK_Respuestas_Consultas]
GO
ALTER TABLE [dbo].[EspecieRespuestas]  WITH CHECK ADD  CONSTRAINT [FK_Respuestas_Usuario] FOREIGN KEY([UsuarioId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[EspecieRespuestas] CHECK CONSTRAINT [FK_Respuestas_Usuario]
GO
ALTER TABLE [dbo].[EstilosAquascapingImagenes]  WITH CHECK ADD  CONSTRAINT [FK_Estilo_Imagenes] FOREIGN KEY([EstiloId])
REFERENCES [dbo].[EstilosAquascaping] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[EstilosAquascapingImagenes] CHECK CONSTRAINT [FK_Estilo_Imagenes]
GO
ALTER TABLE [dbo].[Peces]  WITH CHECK ADD  CONSTRAINT [FK_Peces_Especies] FOREIGN KEY([EspecieId])
REFERENCES [dbo].[Especies] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Peces] CHECK CONSTRAINT [FK_Peces_Especies]
GO
ALTER TABLE [dbo].[Plantas]  WITH CHECK ADD  CONSTRAINT [FK_Plantas_Especies] FOREIGN KEY([EspecieId])
REFERENCES [dbo].[Especies] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Plantas] CHECK CONSTRAINT [FK_Plantas_Especies]
GO
