.buscador-wrapper {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.animacion-apertura {
    animation: slideLeft 0.3s cubic-bezier(0.25, 0.8, 0.25, 1) forwards;
    transform-origin: right center;
}

@keyframes slideLeft {
    0% {
        opacity: 0;
        transform: translateX(15px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.buscador-input {
    width: 140px;
    transition: width 0.3s ease-in-out;
}

@media (min-width: 600px) {
    .buscador-input {
        width: 300px;
    }
}
